@page "/24hrweatherforecast"

@using System.Data
@using Singapore.TwentyFourHourWeatherForecast
@inject SingaporeTwentyFourHourWeatherForecastService Service

<h1>Singapore 24-hr weather forecast</h1>

<p>Live data fatched from data.gov.sg</p>

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>Valid from @data.Rows[0].ItemArray[0].ToString() to @data.Rows[0].ItemArray[1].ToString()</p>
    <p>Updated on : @data.Rows[0].ItemArray[10].ToString()</p>
    <table class="table">
        <thead>
            <tr>
                <th>Forecast</th>
                <th>min Temp</th>
                <th>max Temp</th>
                <th>min RH</th>
                <th>max RH</th>
                <th>min Wind spd</th>
                <th>max Wind spd</th>
                <th>Wind direction</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in data.Rows)
            {
                <tr>
                    <td>@row.ItemArray[2]</td>
                    <td>@row.ItemArray[5] &deg;C</td>
                    <td>@row.ItemArray[6] &deg;C</td>
                    <td>@row.ItemArray[3] %</td>
                    <td>@row.ItemArray[4] %</td>
                    <td>@row.ItemArray[7] km/h</td>
                    <td>@row.ItemArray[8] km/h</td>
                    <td>@row.ItemArray[9]</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private DataTable data;

    protected override async Task OnInitializedAsync()
    {
        data = await Service.GetDataAsync();
    }
}
