@page "/2hrweatherforecast"

@using System.Data
@using Singapore.TwoHourWeatherForecast
@inject SingaporeTwoHourWeatherForecastService Service

<h1>Singapore 2-hr weather forecast</h1>

<p>Live data fatched from data.gov.sg</p>

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>Valid from @data.Rows[0].ItemArray[3].ToString() to @data.Rows[0].ItemArray[4].ToString()</p>
    <p>Updated on : @data.Rows[0].ItemArray[5].ToString()</p>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Forecast</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in data.Rows)
            {
                <tr>
                    <td>@row.ItemArray[0]</td>
                    <td>@row.ItemArray[2]</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private DataTable data;

    protected override async Task OnInitializedAsync()
    {
        data = await Service.GetDataAsync();
    }
}
